.footer {
  margin-top: 30px;
  background: #282e3b;
}

.footer .footer_main {
  display: flex;
  padding: 40px 0 25px 0;
  justify-content: space-between;
}

.footer .footer_main .elixir {
  width: 240px;
}

.footer .footer_main .elixir ul li {
  font-size: 14px;
}

.footer .footer_main .elixir ul li:nth-child(2) {
  margin: 30px 0 25px 0;
  line-height: 24px;
  color: #b2bacf;
}

.footer .footer_main .elixir ul li .elixir_a {
  color: #33b2c5;
}

.footer .footer_main .recent {
  width: 275px;
}

.footer .footer_main .recent .recent_main {
  margin-top: 30px;
}

.footer .footer_main .recent .recent_main li {
  margin-top: 20px;
}

.footer .footer_main .recent .recent_main li .recent_text {
  margin-left: 10px;
  width: 193px;
}

.footer .footer_main .recent .recent_main li .recent_text a {
  font-size: 14px;
  color: #dbe0ee;
}

.footer .footer_main .recent .recent_main li .recent_text .recent_icon {
  margin: 10px 0 0 12px;
  font-size: 12px;
}

.footer .footer_main .recent .recent_main li .recent_text .recent_icon span:nth-child(1) {
  margin-right: 22px;
}

.footer .footer_main .recent .recent_main li .recent_text .recent_icon span img {
  margin-right: 8px;
}

.footer .footer_main .tags {
  width: 260px;
}

.footer .footer_main .tags .tags_main {
  margin-top: 30px;
  width: 265px;
}

.footer .footer_main .tags .tags_main ul li {
  float: left;
  margin: 5px 5px 0 0;
  background-color: #171b24;
}

.footer .footer_main .tags .tags_main ul li a {
  display: inline-block;
  padding: 7px 0;
  text-align: center;
  font-size: 16px;
  color: #b2bacf;
}

.footer .footer_main .tags .tags_main ul li:nth-child(1) a {
  width: 77px;
}

.footer .footer_main .tags .tags_main ul li:nth-child(2) a {
  width: 112px;
}

.footer .footer_main .tags .tags_main ul li:nth-child(3) a {
  width: 56px;
}

.footer .footer_main .tags .tags_main ul li:nth-child(4) a {
  width: 121px;
}

.footer .footer_main .tags .tags_main ul li:nth-child(5) a {
  width: 67px;
}

.footer .footer_main .tags .tags_main ul li:nth-child(6) a {
  width: 62px;
}

.footer .footer_main .tags .tags_main ul li:nth-child(7) a {
  width: 112px;
}

.footer .footer_main .tags .tags_main ul li:nth-child(8) a {
  width: 56px;
}

.footer .footer_main .tags .tags_main ul li:nth-child(9) a {
  width: 77px;
}

.footer .footer_main .photo {
  width: 270px;
}

.footer .footer_main .photo .photo_img {
  margin-top: 30px;
  width: 100%;
}

.footer .footer_main .photo .photo_img a {
  display: inline-block;
}

.footerbar {
  background-color: #171b24;
}

.footerbar .footerbar_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.footerbar .footerbar_main .footerbar_sign {
  width: 300px;
  font-size: 14px;
  line-height: 14px;
  color: #cdd1dd;
}

.footerbar .footerbar_main .footerbar_tab {
  display: flex;
  width: 450px;
  justify-content: space-between;
  font-size: 14px;
  color: #cdd1dd;
}

.footerbar .footerbar_main .footerbar_tab li a {
  font-size: 14px;
  color: #cdd1dd;
}

.title {
  width: 100%;
}

.title img {
  float: left;
}

.title .title_type {
  float: left;
  margin-left: 14px;
  margin-top: 10px;
  font-size: 23px;
  color: #ffffff;
}

a:hover {
  color: #20dfdf !important;
}
